<!DOCTYPE html>
<html>
  <head>
     <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'layouts/railsDefault' %>
    <%= render "layouts/shim" %>
  </head>
  <body>

    <%= render "layouts/header" %>
    <div class="container wombo">
    <%= yield %>
    </div>
     <%= render "layouts/footer" %>
  </body>
</html>
